.item img {
	width: 100%;
	padding: 15px;
	outline: none;
    cursor: pointer;
}

.item a {
    cursor: pointer;
}

.thumbnail {
	width: 100%;
}

#main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 90%;
	margin: auto;
}

.modal {
	display: flex;
	flex-direction: column;
}

.modal .snipcart-add-item {
	width: 20%;
}

.modalbuttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

.item {
    width: 21%;
    display: flex;
    margin: 15px;
    flex-direction: column;
    align-items: center;
}

.modal.active {
	width:40%;
}

.snipcart-add-item {
    background: url(imgs/addtocart.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: aliceblue;
    border: none;
    cursor: pointer;
	width: 70%;
    font-size: 17px;
}

.snipcart-checkout {
    position: fixed;
    right: 100px;
    bottom: 0;
    margin: 10px;
    padding: 5px;
    font-size: 24px;
    text-decoration: none;
    background: url(imgs/addtocart.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: aliceblue;
    border: none;
    cursor: pointer;
}

.navbutton {
	background-repeat: no-repeat;
	background-size: contain;
	background-color: transparent;
	width: 20px;
	height: 20px;
	border: none;
	margin: 10px;
}

.prev {
	background-image: url('imgs/leftarrow.svg');
}

.next {
	background-image: url('imgs/rightarrow.svg');
}

.siema img {
	width: 80%;
}

#contactus {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    background: url(imgs/addtocart.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: aliceblue;
    border: none;
    cursor: pointer;
}

.snipcart-cart-button {
    background: url(imgs/addtocart.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: aliceblue;
    border: none;
    cursor: pointer;
}