.item img {
	width: 100%;
	padding: 15px;
	outline: none;
    cursor: pointer;
}

.item a {
    cursor: pointer;
}

.thumbnail {
	width: 100%;
}

.snipcart-item-quantity__label {
    display: none;
}

.snipcart-item-quantity__quantity {
    display: none;
}

.snipcart-discount-box__button {
    display: none;
}

#instagram {
    width: 31px;
    position: fixed;
    bottom: 8px;
    right: 8px;
}

#tumblr {
    width: 31px;
    position: fixed;
    bottom: 8px;
    right: 46px;
}

#main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 90%;
	margin: auto;
}

.modal {
	display: flex;
	flex-direction: column;
}

.modal .snipcart-add-item {
	width: 20%;
}

.modalbuttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

.item {
    width: 21%;
    display: flex;
    margin: 15px;
    flex-direction: column;
    align-items: center;
}

.modal.active {
	width:40%;
}

.snipcart-add-item {
    background: url(imgs/addtocart.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: aliceblue;
    border: none;
    cursor: pointer;
	width: 70%;
    font-size: 17px;
}

.snipcart-checkout {
    position: fixed;
    right: 167px;
    bottom: 0;
    margin: 10px;
    padding: 5px;
    font-size: 24px;
    text-decoration: none;
    background: url(imgs/addtocart.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: aliceblue;
    border: none;
    cursor: pointer;
}

.navbutton {
	background-repeat: no-repeat;
	background-size: contain;
	background-color: transparent;
	width: 20px;
	height: 20px;
	border: none;
	margin: 10px;
}

.prev {
	background-image: url('imgs/leftarrow.svg');
}

.next {
	background-image: url('imgs/rightarrow.svg');
}

.siema img {
	width: 80%;
}

#contactus {
    position: fixed;
    right: 77px;
    bottom: 0;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    background: url(imgs/addtocart.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: aliceblue;
    border: none;
    cursor: pointer;
}

#aboutus {
    position: fixed;
    left: 18px;
    bottom: 0;
    padding: 5px;
}

#aboutus p {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: url(imgs/addtocart.jpg) no-repeat center center fixed;
    text-decoration: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: aliceblue;
    border: none;
    padding: 15px;
    width: 85px;
}

#aboutus img {
    width: 319px;
}

#aboutus #aboutuscontent {
    background: url(imgs/questionmark.png);
    display: none;
    bottom: 49px;
    margin: 15px;
    left: -15px;
    position: absolute;
    padding: 50px;
    border: 32px solid;
    border-image: url(imgs/addtocart.jpg) 30 round;
}

#aboutus:hover #aboutuscontent {
    display: block;
}

#aboutus h1 {
    color: #fff;
}

#aboutus h4 {
    font-weight: lighter;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
}

.questionmark {
    position: absolute;
    bottom: 45px;
}

.questionmark h2 {
    color: #fff;
}

.questionmark#left {
    left: 70px;
}

.questionmark#right {
    right: 52px;
}

/* Tooltip text */
.questionmark .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: 53px;
  z-index: 1;
}

.questionmark#left .tooltip {
    left: 76px;
}

.questionmark#right .tooltip {
    right: 101px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.questionmark:hover .tooltip {
  visibility: visible;
}

.snipcart-cart-button {
    background: url(imgs/addtocart.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: aliceblue;
    border: none;
    cursor: pointer;
}

.soldout a {
    text-decoration: line-through;
}

.soldout .snipcart-add-item {
    display:none;
}



/* MOBILE */
@media only screen and (max-width: 600px) {
  .item {
    width: 100%;
  }

  body {
    margin-bottom: 25px;
  }
}
